body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  background-size: cover;
  background-repeat: no-repeat;
}

.app-container {
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
}

.task-input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.add-button {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.even-item {
  background-color: #e0f7fa;
  border: 1px solid #81d4fa;
  padding: 8px;
}

.odd-item {
  background-color: #b3e0f2;
  border: 1px solid #4fc3f7;
  padding: 8px;
}

.remove-button {
  margin-left: 10px;
  padding: 5px;
  background-color: #e57373;
  color: white;
  border: none;
  cursor: pointer;
}

li:hover {
  background-color: #90caf9;
  color: white;
}
